.home__container {
    max-width: 100%;
    padding: 10px;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;

    @include mq(1280px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mq(550px) {
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
