.news__container {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;

    &:hover {
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
    }

    @include mq(375px) {
        padding: 2px;
    }

    .news__content {
        display: flex;
        justify-content: center;
        align-items: center;

        .news__headline {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            .news__headline-title {
                color: $font-color;
                font-size: $title-size;
                padding: 10px;
            }

            .news__headline-subtitle {
                color: $description-color;
                font-size: 0.6rem;
                padding: 0 10px;
            }
        }

        img {
            width: 150px;
            height: 100px;
            padding: 5px;
        }
    }

    .news__desc {
        color: $description-color;
        font-size: $description-size;
        padding: 10px;
    }

    .news__time {
        color: $description-color;
        font-size: $description-size;
        padding: 0 10px;
    }
}
