.news-details__container {
    max-width: 100%;
    padding: 20px;
    margin: 20px 80px;

    @include mq(550px) {
        padding: 5px;
        margin: 5px 10px;
    }

    @include mq(280px) {
        padding: 2px;
        margin: 2px;
    }

    .news-details-title {
        color: $font-color;
        padding: 10px;

        @include mq(550px) {
            font-size: 0.9rem;
            padding: 2px;
        }

        @include mq(280px) {
            font-size: 0.7rem;
            padding: 2px;
        }
    }

    .news-details-subtitle {
        color: $description-color;
        padding: 0 10px 10px 10px;

        @include mq(550px) {
            font-size: 0.6rem;
            padding: 2px;
        }
    }

    .news-details__time {
        color: $description-color;
        font-size: $description-size;
        padding: 0 10px;

        @include mq(550px) {
            padding: 2px;
        }
    }

    .news-details__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;

        img {
            width: 800px;
            padding: 5px;

            @include mq(770px) {
                width: 550px;
            }

            @include mq(550px) {
                width: 350px;
            }

            @include mq(280px) {
                width: 250px;
            }
        }

        .news-details__desc {
            color: $description-color;
            font-size: 0.9rem;
            padding: 10px;

            @include mq(550px) {
                font-size: 0.7rem;
                padding: 5px;
            }
        }
    }
}
